<div class="hero-container">
  <h1 class="text-dark">Buy and Sell <strong class="text-success">EVERYTHING</strong> Here ...</h1>
  <%
=begin%>
 <button class="btn btn-outline-secondary m-2 my-sm-0 px-3" type="submit">Shop Now</button> 
<%
=end%>
  <%
=begin%>
 <%=link_to "Shop Now", products_path, class: "btn btn-outline-secondary m-2 my-sm-0 px-3 margin_extra"%> 
<%
=end%>
</div>
<%= image_tag "shoppingCart.jpg", class:"img-fluid"%> 

