<div class="hero-container">
  <h1 class="text-dark hero-text-sizing">Buy and Sell <strong class="text-success">EVERYTHING</strong> Here ...</h1>
  <%=link_to "Shop Now", products_path,method: :get, class: "btn py-2 px-3 btn-outline-secondary m-2 my-sm-0 px-3 margin_extra"%>
</div>
<%= image_tag "shoppingCart.jpg", class:"img-fluid"%> 

