nav .logo
{
  width: 130px;
  height: 115px;
  margin-left: 250px;
}
.hero-container
{
  position: absolute;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 268px;
  margin-left: 15%; 
}
.hero-text-sizing
{
  font-size: 4rem;
  margin-top: 25%;
}
.margin_extra
{
  margin-left: 30%;
}
div .custom_container 
{
  height: 350px;
  overflow: scroll !important;
}
.font-bold
{
  font-weight: 600 !important;
}
.numberCircle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 4px;
  background: blue;
  color: white;
  text-align: center;
  font: 13px Arial, sans-serif;
  position: relative;
  top: -10px;
  right: 47px;
}
.sizing{
  width: 40px;
  height: 40px;
}
.cart{
  @extend .sizing;
  margin-left: 12rem;
  margin-right: 2rem;

}
.cart-arrow{
  @extend .sizing;

}
.warehouse
{
  @extend .sizing;
  margin-left: 3rem;
  margin-right: 2rem;
}
.home
{
  font-weight: 500;
}
.float-btn
{
  float: right;
  direction: rtl;
}
.aliging
{
  font-size: larger;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 15px;
}
.d-flex .avatar
{
  width: 74px;
  height: 74px;
}
.d-flex .padding-setting
{
  padding: 0 40px 0 40px;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}
.cart-image img
{
  width: 50px;
  margin-left: 12%;
}
.border-width-set
{
  border-top: 3px solid blue;
}
@import "bootstrap";
