
<div class="container ml-3 p-3">
  <h1>Add New Product</h1>
  
  <%= render "form"%>
</div>
<%
=begin%>
 <button class="btn btn-info"><%=link_to "Home", articles_path, class: "text-light text-decoration-none" %></button> 
<%
=end%>

